<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Cars</title>

</head>
<body>
<div class="container">
<h2>All cars list</h2>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Brand</th>
            <th>Production Year</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getBrand()}"></td>
            <td th:text="${car.getProductionYear()}"></td>
            <td th:text="${car.getColorString()}"></td>
        </tr>
    </tbody>
</table>
</div>

<div class="container">
<p class="h4 mb-4">Add a car:</p>
<form action="#" th:method="POST" th:action="@{/}" th:object="${newCar}">
    <label for="brand" class="col-sm-2 col-form-label">Brand</label>
    <input id="brand" type="text" th:field="*{brand}" class="form-control m-4 col-4" placeholder="Brand"/>
    <label for="productionYear" class="col-sm-2 col-form-label">Production Year</label>
    <input id ="productionYear" type="text" th:field="*{productionYear}" class="form-control m-4 col-4" placeholder="Production year"/>
    <label for="color" class="col-sm-2 col-form-label">Color</label>
    <input id="color" type="text" th:field="*{color}" class="form-control m-4 col-4" placeholder="Color"/>
    <button type="submit" class="btn btn-info col-2">Save</button>
    <button type="reset" class="btn btn-warning col-2">Reset</button>
</form>
</div>
<br>
<div class="container">
<h3>Search cars by production year:</h3>
<form th:method="GET" th:action="@{/search/}" th:object="${years}" action="#">
    From Year: <input class="form-control m-4 col-4" for="fromYear" type="text" name="fromYear" id="fromYear" th:field="*{fromYear}"/>
    To year : <input class="form-control m-4 col-4" for="toYear" type="text" name="toYear" id="toYear" th:field="*{toYear}" />
    <button type="submit" class="btn btn-info col-2">Search</button>
    <button type="reset" class="btn btn-warning col-2">Reset</button>
</form>
</div>
</body>
</html>
